@import 
url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');


*{
	box-sizing: border-box;
}


body{
	margin: 0;
	font-family: "Raleway", sans-serif;
	text-align: center;
}

img{
	max-width: 100%;
	height: auto;
}

.container{
	width: 95%;
	margin: 0 auto;
	max-width: 1120px;
}

/*------TYPOGRAPHY------*/
h1 {
	font-weight: 300;
	font-size: 34px;
}

p{
	margin-top: 0;
	line-height: 1.5;
}

p:last-of-type{
	margin-bottom: 0;
	
}

.title{
	font-size: 36px;
	margin-bottom: 30px;
	font-weight: 900;
	margin-top: 16px;
}

.title span{
	font-weight: 300;
	display: block;
}

@media (min-width: 900px) {
	
	p{
		font-size: 20px;
		line-height: 1.6;
	}
	
	
	.title{
		font-size: 72px;
	}
}


.button {
	display: inline-block;
	font-size: 19px;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 3px;
	border-style: solid;
	padding: 8px 5px;
}

.button-accent{
	color: #8B0000;
	border-color: #8B0000;
}


.button-accent:hover, .button-accent:focus{
	background: #E31230;
	color: #FFF;
}

@media(min-width: 900px){
	.button{
		font-size: 30px;
	}
}


/*------HEADER------*/
header{
	position: absolute;
	left: 0;
	right: 0;
	margin: 20px;
}


/*------NAV------*/


nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin: 20px;
}

nav a{
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24;
	padding: 2px;
	color: #FFF
}

nav a:hover, nav a:focus{
	color:#DDD;
}

@media (min-width: 900px)
{
	.logo{
		float: left;
	}
	nav{
		float: right;
		font-size: 22px;
	}
	h2{
		float: left;
		
	}
}

/*------HOMEPAGE------*/

.homepage{
	background-image: url(img/homepage.jpg);
	background-size: cover;
	background-position: center;
	padding: 220px 0px;
	color: #FFF;
}

@media (min-width: 900px){
	.homepage{
		padding-top: 20vh;
		height: 100vh;
	}
}


/*------HOMEPAGE------*/
.home-about-text{
	background-color: #232323;
	padding: 48px;
	width: 100vw;
	margin-left: -2.6%;
	outline: 2px solid #00FF6C;
	outline-offset: -32px;
	color: #FFF;
	position: relative;
}


.home-about-text h1{
	color: #00FF6C;
	position: absolute;
	left: 50%; 
	transform: translateX(-50%);
	top: -18px;
	background: #232323;
	padding: 0 4px;
}

@media(min-width: 900px){
	
	h1{
		font-size: 44px;
	}
	
	.home-about{
		background-image: url(img/whoami.jpg);
		background-repeat: no-repeat;
		padding-bottom: 180px;
	}
	
	.home-about-text{
	
	width: 70%;
	padding: 120px;
	outline-offset: -64px;
	margin-left: -3.6%;
	top: -90px;
	text-align: left;
	box-shadow: 0 0 50px 0 rgba(0,0,0,2);
	}
	
	.home-about-text h1{
		top: 0px;
		left: 80px;
		padding: 0 8px;
		transform: translateX(0);
	}
}


