@import 
url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');


*{
	box-sizing: border-box;
}


body{
	margin: 0;
	font-family: "Raleway", sans-serif;
	text-align: center;
}

img{
	max-width: 100%;
	height: auto;
}

.container{
	width: 95%;
	margin: 0 auto;
}

/*------TYPOGRAPHY------*/
.title{
	font-size: 36px;
	margin-bottom: 30px;
}

.title span{
	font-weight: 300;
	display: block;
}

@media (min-width: 900px) {
	.title{
		font-size: 72px;
	}
}


.button {
	display: inline-block;
	font-size: 19px;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 3px;
	border-style: solid;
	padding: 8px 5px;
}

.button-accent{
	color: #8B0000;
	border-color: #8B0000;
}


.button-accent:hover, .button-accent:focus{
	background: #E31230;
	color: #FFF;
}


/*------HEADER------*/
header{
	position: absolute;
	left: 0;
	right: 0;
	margin: 20px;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin: 20px;
}

nav a{
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24;
	padding: 8px;
	color: #FFF
}

nav a:hover, nav a:focus{
	color:#DDD;
}

@media (min-width: 900px)
{
	.logo{
		float: left;
	}
	nav{
		float: right;
	}
	h2{
		float: left;
		
	}
}

/*------HOMEPAGE------*/

.homepage{
	background-image: url(img/homepage.jpg);
	padding: 160px 0px;
	color: #FFF;
}