*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --cell-size : 230px;
    --mark-size : calc(var(--cell-size)*0.9);
}

body{
    margin: 0px;
    background-color: #C38D9E;
}

body h1{
    font-size: 88px;
    background-color: cornflowerblue;
    padding: 16px;
    justify-content: center;
    text-align: center;
}

.board{
    width: 100%;
    height: 70%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}


.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}


.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;//TopBorderGone
}
.cell:nth-child(3n+1){
    border-left: none;//LeftBorderGone
}
.cell:nth-child(3n+3){
    border-right: none;//RightBorderGone
}
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7){
    border-bottom: none;
}


.cell.x,
.cell.circle{
    cursor: not-allowed;
}


.cell.x::before,
.cell.x::after,
.cell.circle::before{
    background-color: #000;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    background-color: #CCC;
}


.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size)*.15);
    height: var(--mark-size);
}

.cell.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(45deg);
}
.cell.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(-45deg);
}


.board.circle .cell:not(.x):not(.circle):hover::before{
    background-color: #CCC;
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before{
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after{
    width: calc(var(--mark-size)*.75);
    height: calc(var(--mark-size)*.75);
    background-color: #C38D9E;
}

.winning-message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);

    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 60px;
    flex-direction: column;
}

.winning-message button{
    font-size: 48px;
    background-color: #FFF;
    border: 3px solid #000;
    padding: 8px;
    cursor: pointer;
}

.winning-message button:hover{
    background-color: #000;
    color: #FFF;
    border-color: #FFF;
}

.winning-message.show{
    display: flex;
}